In [167]:
# https://www.kaggle.com/unsdsn/world-happiness

import pandas as pd
import numpy as np

df2015 = pd.read_csv('data/2015.csv')
df2016 = pd.read_csv('data/2016.csv')
df2017 = pd.read_csv('data/2017.csv')
df2018 = pd.read_csv('data/2018.csv')
df2019 = pd.read_csv('data/2019.csv')

In [168]:
# Add a year column

df2015['Year'] = 2015
df2016['Year'] = 2016
df2017['Year'] = 2017
df2018['Year'] = 2018
df2019['Year'] = 2019

In [169]:
df2015['Social Support'] = np.nan
df2016['Social Support'] = np.nan
df2017['Social Support'] = np.nan
df2018['Dystopia Residual'] = np.nan
df2018['Family'] = np.nan
df2019['Dystopia Residual'] = np.nan
df2019['Family'] = np.nan

In [170]:
# Drop columns

df2015 = df2015.drop(columns=['Standard Error', 'Region'])
df2016 = df2016.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval', 'Region'])
df2017 = df2017.drop(columns=['Whisker.high', 'Whisker.low'])

In [174]:
# Update column names

df2015 = df2015.rename(columns={"Health (Life Expectancy)": "Healthy Life Expectancy", "Trust (Government Corruption)": "Perceptions of Corruption"})
df2016 = df2016.rename(columns={"Health (Life Expectancy)": "Healthy Life Expectancy", "Trust (Government Corruption)": "Perceptions of Corruption"})
df2017 = df2017.rename(columns={"Happiness.Score": "Happiness Score", "Happiness.Rank": "Happiness Rank", "Health..Life.Expectancy.": "Healthy Life Expectancy", "Trust..Government.Corruption.": "Perceptions of Corruption", "Economy..GDP.per.Capita.":"Economy (GDP per Capita)", "Dystopia.Residual": "Dystopia Residual"})
df2018 = df2018.rename(columns={"Score": "Happiness Score", "Overall rank": "Happiness Rank", "Country or region": "Country", "Freedom to make life choices": "Freedom", "GDP per capita": "Economy (GDP per Capita)", "Perceptions of corruption": "Perceptios of Corruption", "Healthy life expectancy": "Healthy Life Expectancy", "Social support": "Social Support"})
df2019 = df2019.rename(columns={"Score": "Happiness Score", "Overall rank": "Happiness Rank", "Country or region": "Country", "Freedom to make life choices": "Freedom", "GDP per capita": "Economy (GDP per Capita)", "Perceptions of corruption": "Perceptios of Corruption", "Healthy life expectancy": "Healthy Life Expectancy", "Social support": "Social Support"})

In [178]:
# Combine datasets

df1516 = pd.merge(df2015, df2016, how="outer")
df1517 = pd.merge(df1516, df2017, how="outer")
df1518 = pd.merge(df1517, df2018, how="outer")
df1519 = pd.merge(df1518, df2019, how="outer")

In [179]:
df1519

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Healthy Life Expectancy,Freedom,Perceptions of Corruption,Generosity,Dystopia Residual,Year,Social Support,Perceptios of Corruption
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,152,3.334,0.35900,NaN,0.61400,0.55500,NaN,0.21700,NaN,2019,0.711,0.411
778,Tanzania,153,3.231,0.47600,NaN,0.49900,0.41700,NaN,0.27600,NaN,2019,0.885,0.147
779,Afghanistan,154,3.203,0.35000,NaN,0.36100,0.00000,NaN,0.15800,NaN,2019,0.517,0.025
780,Central African Republic,155,3.083,0.02600,NaN,0.10500,0.22500,NaN,0.23500,NaN,2019,0.000,0.035
781,South Sudan,156,2.853,0.30600,NaN,0.29500,0.01000,NaN,0.20200,NaN,2019,0.575,0.091