# Description
YYYYMMDD = Datum (YYYY=jaar MM=maand DD=dag)
### Temperatuur
TG = Etmaalgemiddelde temperatuur (in 0.1 graden Celsius)<br> 
TN = Minimum temperatuur (in 0.1 graden Celsius)<br>
TNH = Uurvak waarin TN is gemeten<br>
TX = Maximum temperatuur (in 0.1 graden Celsius)<br>
TXH = Uurvak waarin TX is gemeten<br>
### Neerslag
DR = Duur van de neerslag (in 0.1 uur)<br>
RH = Etmaalsom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm)<br>
RHX = Hoogste uursom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm)<br> 
RHXH = Uurvak waarin RHX is gemeten

In [3]:
# http://projects.knmi.nl/klimatologie/daggegevens/selectie.cgi

import pandas as pd
import numpy as np

df = pd.read_csv('data/maastricht.csv', low_memory=False)
df1 = pd.read_csv('data/location.csv')
df['STN'] = df['STN'].map(df1.set_index('STN')['NAME'])

df = df[['STN', 'YYYYMMDD', 'TG', 'TN', 'TNH', 'TX', 'TXH', 'DR', 'RH', 'RHX', 'RHXH', ]]
df['Datum'] = df['YYYYMMDD'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df

,STN,YYYYMMDD,TG,TN,TNH,TX,TXH,DR,RH,RHX,RHXH,Datum
0,MAASTRICHT,19060101,-23,-59,NaN,26,NaN,NaN,NaN,NaN,NaN,1906-01-01
1,MAASTRICHT,19060102,-21,-55,NaN,6,NaN,NaN,NaN,NaN,NaN,1906-01-02
2,MAASTRICHT,19060103,21,-44,NaN,55,NaN,NaN,NaN,NaN,NaN,1906-01-03
3,MAASTRICHT,19060104,77,55,NaN,97,NaN,NaN,NaN,NaN,NaN,1906-01-04
4,MAASTRICHT,19060105,83,71,NaN,97,NaN,NaN,NaN,NaN,NaN,1906-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...
41633,MAASTRICHT,20191227,55,47,24.0,68,2.0,16.0,5.0,2.0,1.0,2019-12-27
41634,MAASTRICHT,20191228,19,-12,23.0,52,14.0,0.0,0.0,0.0,1.0,2019-12-28
41635,MAASTRICHT,20191229,11,-28,7.0,63,21.0,0.0,0.0,0.0,1.0,2019-12-29
41636,MAASTRICHT,20191230,50,0,7.0,105,14.0,0.0,0.0,0.0,1.0,2019-12-30
41637,MAASTRICHT,20191231,29,10,3.0,52,14.0,0.0,0.0,0.0,1.0,2019-12-31