# Description
YYYYMMDD = Datum (YYYY=jaar MM=maand DD=dag)
### Temperatuur
TG = Etmaalgemiddelde temperatuur (in 0.1 graden Celsius)<br> 
TN = Minimum temperatuur (in 0.1 graden Celsius)<br>
TNH = Uurvak waarin TN is gemeten<br>
TX = Maximum temperatuur (in 0.1 graden Celsius)<br>
TXH = Uurvak waarin TX is gemeten<br>
### Neerslag
DR = Duur van de neerslag (in 0.1 uur)<br>
RH = Etmaalsom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm)<br>
RHX = Hoogste uursom van de neerslag (in 0.1 mm) (-1 voor <0.05 mm)<br> 
RHXH = Uurvak waarin RHX is gemeten

In [20]:
# http://projects.knmi.nl/klimatologie/daggegevens/selectie.cgi

import pandas as pd
import numpy as np

df = pd.read_csv('data/maastricht.csv', low_memory=False)
df1 = pd.read_csv('data/location.csv')
df['STN'] = df['STN'].map(df1.set_index('STN')['NAME'])

dftotal = df[['STN', 'YYYYMMDD', 'TG', 'TN', 'TNH', 'TX', 'TXH', 'DR', 'RH', 'RHX', 'RHXH', ]]
dftotal

              STN  YYYYMMDD   TG  TN   TNH   TX   TXH     DR    RH   RHX  RHXH
0      MAASTRICHT  19060101  -23 -59   NaN   26   NaN    NaN   NaN   NaN   NaN
1      MAASTRICHT  19060102  -21 -55   NaN    6   NaN    NaN   NaN   NaN   NaN
2      MAASTRICHT  19060103   21 -44   NaN   55   NaN    NaN   NaN   NaN   NaN
3      MAASTRICHT  19060104   77  55   NaN   97   NaN    NaN   NaN   NaN   NaN
4      MAASTRICHT  19060105   83  71   NaN   97   NaN    NaN   NaN   NaN   NaN
...           ...       ...  ...  ..   ...  ...   ...    ...   ...   ...   ...
41619  MAASTRICHT  20191213   51  32   3.0   63  17.0  115.0  71.0  10.0  11.0
41620  MAASTRICHT  20191214   61  45   2.0   77  13.0   52.0  47.0  16.0   4.0
41621  MAASTRICHT  20191215   72  44  23.0  109   5.0   13.0  58.0  54.0   6.0
41622  MAASTRICHT  20191216   79  57   1.0  107  24.0   18.0   4.0   1.0  12.0
41623  MAASTRICHT  20191217  122  83  24.0  157  14.0   25.0  45.0  27.0  20.0

[41624 rows x 11 columns]